body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
}

h1 {
    font-size: 1.5em;  /* Уменьшенный размер заголовка */
    text-align: center;
}

.results-container {
    display: flex;
    flex-direction: column;  /* Вертикальное выравнивание для мобильных устройств */
    gap: 10px;
}

.result-table {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.75em;  /* Уменьшенный размер шрифта */
}

th, td {
    border: 1px solid #ddd;
    padding: 2px;  /* Уменьшенный размер padding */
    text-align: center;
}

.cell {
    display: inline-block;
    width: 12px;  /* Уменьшенная ширина ячейки */
    height: 12px;  /* Уменьшенная высота ячейки */
    border: 1px solid #ddd;
    text-align: center;
    margin: 0.5px;  /* Уменьшенные отступы между ячейками */
    font-size: 0.75em;  /* Уменьшенный размер шрифта внутри ячейки */
}

@media (max-width: 600px) {
    .result-table {
        font-size: 0.65em;  /* Уменьшенный размер шрифта для маленьких экранов */
    }
}
