body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #ffffff; /* Установите фон белым */
}

h1 {
    font-size: 1.2em;  /* Уменьшенный размер заголовка */
    text-align: center;
    margin-bottom: 10px;
}

.results-container {
    display: flex;
    justify-content: space-between; /* Распределение пространства между таблицами */
    flex-wrap: wrap; /* Позволяет таблицам переноситься на новую строку, если не хватает места */
}

.result-table {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: #ffffff; /* Убедитесь, что фон таблицы белый */
    width: 48%; /* Ширина таблицы 48%, чтобы оставить немного места между ними */
    max-width: 48%; /* Максимальная ширина таблицы 48% */
    box-sizing: border-box; /* Учитывает padding и border в ширину элемента */
}

h2 {
    font-size: 1em; /* Уменьшенный размер заголовка таблицы */
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.7em; /* Уменьшенный размер шрифта в таблице */
}

th, td {
    border: 1px solid #ddd;
    padding: 2px;  /* Уменьшенный размер padding */
    text-align: center;
}

.cell {
    display: inline-block;
    width: 12px;  /* Уменьшенная ширина ячейки */
    height: 12px;  /* Уменьшенная высота ячейки */
    border: 1px solid #ddd;
    text-align: center;
    margin: 0.5px;  /* Уменьшенные отступы между ячейками */
    font-size: 0.7em;  /* Уменьшенный размер шрифта внутри ячейки */
}

@media (max-width: 600px) {
    .results-container {
        flex-direction: column; /* Перенос таблиц на новую строку при маленьком экране */
    }

    .result-table {
        width: 100%; /* Таблицы будут занимать всю ширину экрана на маленьких устройствах */
        max-width: 100%;
    }

    .result-table h2 {
        font-size: 0.8em; /* Дополнительное уменьшение размера заголовков на маленьких экранах */
    }
}
