body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Два равных столбца */
    gap: 20px; /* Расстояние между столбцами */
    padding: 10px;
    max-width: 1200px; /* Максимальная ширина контейнера */
}

.column {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    width: 100%; /* Полная ширина для поля ввода */
}

button {
    display: block;
    margin: 20px 0; /* Отступ сверху и снизу от кнопки */
    padding: 10px 20px; /* Паддинг кнопки */
    font-size: 1.2em;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center; /* Центрирование текста внутри кнопки */
    border-radius: 5px; /* Закругление углов кнопки */
}

button:hover {
    background-color: #218838;
}

/* Стили для кнопки */
button#update-all {
    grid-column: span 2; /* Кнопка занимает оба столбца */
}
